@import "/src/app/styles/variables";

.category-list {
  display: flex;
  padding-top: 10px;

  &__item {
    margin-right: 20px;
    text-transform: uppercase;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: -12px;
      height: 2px;
    }
    &.active {
      &:before {
        background: #f65221;
      }
    }

    a {color: $white;}

    &:last-child {
      margin: 0;
    }
  }
}