@import "/src/styles/variables";

.footer-container {
  text-align: center;
  padding: 20px 0;
  background-color: $grey;
  margin-bottom: 40px;

  &__title {
    font-size: $typesize-h5;
    color: $pink;

    span {
      font-weight: $typeweight--bold;
    }
  }
}