@import "/src/styles/variables";

.search-form {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 100px;

  input {
    background-color: $grey;
    border-color: $grey;
    font-size: $typesize-h5;
  }

  .search-btn {
    background-color: $pink;
    border-color: $pink;
    font-size: $typesize-h5;
    text-transform: uppercase;
    width: 170px;
  }
}